.printMensajeUsuario{
    background-color: rgba(255, 255, 255, .8);
    border: 3px solid var(--color-azul);
    border-radius: 5px;
    align-self: flex-end;
    padding: 5px;
    font-weight: bolder;
    font-size: 24px;
    animation: animacionMensajes .75s;
}

.printMensajeBot{
    background-color: rgba(255, 255, 255, .8);
    border: 3px solid var(--color-verde);
    border-radius: 10px;
    align-self: flex-start;
    padding: 5px;
    font-weight: bolder;
    font-size: 16px;
    max-width: 70%;
    animation: animacionMensajes .75s;
}

@keyframes animacionMensajes {
    0%{
        transform: scaleY(0);
    }
    50%{
        transform: scaleY(0);
    }
    50%{
        transform: scaleY(1);
    }
}